/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    width: 100%;
    background: #c9c9c9;
    padding: 13px 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #f7a425;
    font-size: 26px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.phone {
    background: black;
    padding: 8px 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* Contact Section */
.contact-section {
    padding: 50px 80px;
    text-align: center;
}

.container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

/* Contact Info */
.contact-info {
    text-align: left;
    font-size: 18px;
    line-height: 33px;
    width: 40%;
}

.contact-info i {
    margin-right: 10px;
}

/* Social Icons */
.social-icons i {
    font-size: 28px;
    color: #ea00ff;
    margin-right: 10px;
}

/* Form Box */
.form-box {
    background: #ff00ff;
    padding: 30px;
    width: 40%;
    border-radius: 5px;
}

.form-box h2 {
    margin-bottom: 18px;
}

.form-box form input,
.form-box form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px solid white;
}

.submit-btn {
    padding: 10px;
    background: #f7a425;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.submit-btn:hover {
    opacity: 0.9;
}

Responsive */
 @media(max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .contact-info, .form-box {
        width: 100%;
    }
}
