body{
    background-color: black;
}




 .navbar {
  background-color: #1a1a1a !important;
  transition: all 0.3s ease;
}
.navbar-brand { color: #f5b041 !important; }
.nav-link { color: #ffffff !important; }
.nav-link:hover { color: #f5b041 !important;
text-shadow: 0 0 8px #f5b041;}
.hero {
  width: 100%;
  height: 500px; /* thori si height zyada */
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  filter: brightness(0.5);
  background: #000;
}

.hero-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5b041 !important;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 3px 6px rgba(0,0,0,0.7);
}

.grid{
   margin-top: 80px;
   margin-left: 10%;
   margin-right: 10%;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
   align-items: center;
}

.grid > article{
    margin: left -20px;
    margin-right: -20px;
  background-color: rgb(20, 20, 20);
  border: none;
  color:  #f5b041 !important;
  box-shadow: 2px 2px 6px 0px #ff9e01 !important;
  border-radius: 20px;
  text-align: center;
  width: 250px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: transform .3s;
  
}
.grid > article:hover{
    transform:translateY(5px);
    box-shadow: 2px 2px 26px 0px #ff9e01 !important;
}

.grid >article img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text{
    padding: 0 20px 20px;
}

.text h3{
    text-transform: uppercase;
}

.text button{
    background: #f5b041 !important;
    border-radius: 20px;
    border: none;

}

.hero-2 {
  width: 100%;
  height: 500px; /* thori si height zyada */
  position: relative;
  overflow: hidden;
}

.hero-2 img {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  object-fit: contain;
  filter: brightness(0.5);
  background: #000;
  
}

.hero-title-2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f5b041 !important;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 3px 6px rgba(0,0,0,0.7);
}
