body{
    background-color: black;
}
 .navbar {
  background-color: #1a1a1a !important;
  transition: all 0.3s ease;
}
.navbar-brand { color: #f5b041 !important; }
.nav-link { color: #ffffff !important; }
.nav-link:hover { color: #f5b041 !important;
text-shadow: 0 0 8px #f5b041;}




/* Footer */
.footer2 {
  background-color: #111;
  
  width: 100%;
}
.footer2 a {
  color: #f5b041;
  margin: 0 10px;
  font-size: 20px;
  transition: 0.3s;
}
.footer a:hover {
  color: #fff;
  transform: scale(1.2);
}

/* Contact */
#contact ul {
  line-height: 2;
}
.map-container iframe {
  box-shadow: 0 4px 15px rgba(0,0,0,0.6);
}
.contact{
    color: #f5b041;
    margin-top: 5px;
}


/* .container{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* background: url(bc.jpg); */
      /* background-color: black; */
/* } */

.container2 form{
margin-top: 100px;
margin-left: 25%;
width: 670px;
height: 600px;
justify-content: center;
display: flex;
border-radius: 15px;
background: rgb(255, 255, 255, 0.1);
backdrop-filter: blur(30px);
flex-wrap: wrap;

}

.container2 form h1{
    color:#f5b041;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    width: 500px;
    text-align: center;

}
.container2 form input{

width: 300px;
height: 50px;
padding-left: 10px;
outline: none;
border: none;
font-size: 20px;
margin-bottom: 10px;
background: none;
border-bottom: 2px solid #f5b041;
color: #f5b041;
}

.container2 form input{
    color: beige;
}

.container2 form #firstname,
.container2 form #mobile{
 margin-left: 20px;

}

.container2 form h4{
  color:beige;
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
}

.container2 form textarea{

background: none;
border: none;
border-bottom: 2px solid  #f5b041;
color: beige;
font-weight: 200;
font-size: 20px;
padding: 10px;
outline: none;
min-height: 90px;
max-height: 90px;
min-width: 620px;
max-width: 620px;
}

.container2 form h4{
    font-size: 20px;

}

.container2 form #button{
    border: none;
    background: #f5b041;
    color: black;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;
    width: 200px;
    height: 60px;
    padding: 0;
    margin-bottom: 30px;
    transition: 0.3s;
    
}
.container2 form #button:hover{

background: #000;
color: white;
transition: 0.5s ease-in-out;
}

